extends layout

block search
	form.navbar-form.navbar-left(role="search")
		.form-group
			input.form-control(type="text" placeholder="Search")
			button.btn.btn-default(type="submit") Submit
			
block content

	.owner-info.col-xs-12
		h1 #{user.firstName} #{user.lastName}
		img.avatar.img-responsive.col-xs-3(src= '/pictures/Funny.JPG' alt="Avatar Image")
		.col-xs-9
			ul.list-unstyled
				li Name: 
					strong #{user.firstName} #{user.lastName}
				li Address:
				li Email: #{user.email}
				li Phone:
				li
					button.btn.btn-default(data-toggle="modal" data-target="#createpetModal") New Pet

	.col-xs-12.tabbable#pet-container
		ul.nav.nav-tabs.nav-justified
			for pet, index in user.pets
				if index === 0
					li.active.pet-tab
						a(href="#pet" + index data-toggle="tab") #{pet.name}
				else
					li.pet-tab
						a(href="#pet" + index data-toggle="tab") #{pet.name}

		.tab-content
			for pet, index in user.pets	
				if index === 0
					.tab-pane.fade.in.active(id="pet" + index)
						.col-xs-12.tabbable.information
							ul.nav.nav-pills
								li.active
									a(href="#info" + index data-toggle="tab") Info
								li.dropdown
									a.dropdown-toggle(href="#" data-toggle="dropdown") Medical
										span.caret
									ul.dropdown-menu
										li
											a(href="#history" + index data-toggle="tab") History
										li
											a(href="#vaccination-records" + index data-toggle="tab") Vaccination Records
										li
											a(href="#symptom-log" + index data-toggle="tab") Symptom Log
							.tab-content
								.tab-pane.fade.in.active.pet-id(id="info" + index data-id= pet._id)
									.col-xs-6
										.data
											h2= pet.name
											img.img-responsive.avatar.pet-avatar(src= '/pictures/' + pet.name + '.JPG' alt="Your Pet's Picture Here")
											p Age: #{pet.age}
											p Breed: #{pet.breed}
										.considerations
											h2 Special Considerations
									.col-xs-6.schedule-container
										h2 Daily Schedule
										button.add-sched-item.btn.btn-default Create Schedule
										form.form-horizontal.schedule-form(role="form")
											input.form-control(name="time" type="time")
											//- select.form-control(name="time-group" type="text")
											//- 	option(value="AM") AM
											//- 	option(value="PM") PM
											input.form-control(name="activity" type="text" placeholder="Activity")
											button.btn.btn-default.addItem Add Item
											button.btn.btn-default.save-sched Save Schedule
										ul.list-unstyled.schedule-list
											for task in pet.schedule
												li= task.time + " | " + task.activity
								.tab-pane.fade(id= "history" + index)
									p This would be medical history info for pet #{index}
								.tab-pane.fade(id="vaccination-records" + index)
									p This would be Vaccination Records for pet #{index}
								.tab-pane.fade(id="symptom-log" + index)
									.symptom-log
										h2 Symptom Log
										form.symptom-form.col-xs-6
											input.form-control(type="text" name="symptom" placeholder="Enter Symptom" required="")
											textarea.form-control(row="4")
											button#symptomBtn.btn.btn-default(type="submit") Submit
										.log-display.col-xs-6
											for item in pet.medicalHistory
												li: h4= item.symptom
												li: p= item.description
												li: p= item.date
				else
					.tab-pane.fade(id="pet" + index)
						.col-xs-12.tabbable.information
							ul.nav.nav-pills
								li.active
									a(href="#info" + index data-toggle="tab") Info
								li.dropdown
									a.dropdown-toggle(href="#" data-toggle="dropdown") Medical
										span.caret
									ul.dropdown-menu
										li
											a(href="#history" + index data-toggle="tab") History
										li
											a(href="#vaccination-records" + index data-toggle="tab") Vaccination Records
										li
											a(href="#symptom-log" + index data-toggle="tab") Symptom Log
							.tab-content
								.tab-pane.fade.in.active.pet-id(id="info" + index data-id= pet._id)
									.col-xs-6
										.data
											h2= pet.name
											img.img-responsive.avatar.pet-avatar(src= '/pictures/' + pet.name + '.JPG' alt="Your Pet's Picture Here")
											p Age: #{pet.age}
											p Breed: #{pet.breed}
										.considerations
											h2 Special Considerations
									.col-xs-6.schedule-container
										h2 Daily Schedule
										button.add-sched-item.btn.btn-default Create Schedule
										form.form-horizontal.schedule-form(role="form")
											input.form-control(name="time" type="time")
											//- select.form-control(name="time-group" type="text")
											//- 	option(value="AM") AM
											//- 	option(value="PM") PM
											input.form-control(name="activity" type="text" placeholder="Activity")
											button.btn.btn-default.addItem Add Item
											button.btn.btn-default.save-sched Save Schedule
										ul.list-unstyled.schedule-list
											for task in pet.schedule
												li= task.time + " | " + task.activity
								.tab-pane.fade(id= "history" + index)
									p This would be medical history info for pet #{index}
								.tab-pane.fade(id="vaccination-records" + index)
									p This would be Vaccination Records for pet #{index}
								.tab-pane.fade(id="symptom-log" + index)
									.symptom-log
										h2 Symptom Log
										form.symptom-form.col-xs-6
											input.form-control(type="text" name="symptom" placeholder="Enter Symptom" required="")
											textarea.form-control(row="4")
											button#symptomBtn.btn.btn-default(type="submit") Submit
										.log-display.col-xs-6
											for item in pet.medicalHistory
												li: h4= item.symptom
												li: p= item.description
												li: p= item.date

	.modal.fade#createpetModal(tabindex="-1" role="dialog" aria-labeledby="createpetModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
						h4.modal-title#createpetModalLabel Add New Pet
					.modal-body
						form#createPet(method="post" action="/pet/create")
							h3 Please provide the following information about your pet
							input.form-control(type="text" name="name" placeholder="Pet's Name" required="" autofocus="")
							input.form-control(type="number" name="age" placeholder="Age")
							select.form-control(name="species" required="")
								option(value="dog") Dog
								option(value="cat") Cat
								option(value="bird") Bird
								option(value="fish") Fish
								option(value="other") Other
							input.form-control(type="text" name="breed" placeholder="Breed" required="")
							input.form-control(type="text" name="rfid" placeholder="RFID Chip #")
							input.form-control(type="text" name="rabies" placeholder="Rabies Tag #")
							button#addPet.btn.btn-lg.btn-primary.btn-block(type="submit") Add Pet
					.modal-footer