extends layout

block search
	form.navbar-form.navbar-left(role="search")
		.form-group
			input.form-control(type="text" placeholder="Search")
			button.btn.btn-default(type="submit") Submit
			
block content

	.owner-info.col-xs-12
		h1 #{user.firstName} #{user.lastName}
		img.avatar.img-responsive.img-thumbnail.col-xs-3(src="http://placehold.it/350x350" alt="Avatar Image")
		.col-xs-9
			ul.list-unstyled
				li Name: 
					strong #{user.firstName} #{user.lastName}
				li Address
				li Email: #{user.email}
				li Phone
				li
					button.btn.btn-default(data-toggle="modal" data-target="#createpetModal") New Pet

	.col-xs-12
		ul.nav.nav-tabs.nav-justified
			for pet, index in user.pets
				if index === 0
					li.active
						a(href="#pet" + index data-toggle="tab") #{pet.name}
				else
					li
						a(href="#pet" + index data-toggle="tab") #{pet.name}

			.tab-content
				for pet, index in user.pets	
					if index === 0
						.tab-pane.fade.in.active(id="pet" + index)
							.col-xs-12
								ul.nav.nav-pills
									li.active
										a(href="#info") Info
									li.dropdown
										a.dropdown-toggle(href="#" data-toggle="dropdown") Medical
											span.caret
										ul.dropdown-menu
											li
												a(href="#medical") History
											li
												a(href="#") Vaccination Records
											li
												a(href="#") Symptom Log
								.tab-content
									.tab-pane.fade.in.active#info
										h2= pet.name
										p Age: #{pet.age}
										p Breed: #{pet.breed}
									.tab-pane.fade#medical
										p This would be medical history info
					else
						.tab-pane.fade(id="pet" + index)
							h2= pet.name
							p Age: #{pet.age}
							p Breed: #{pet.breed}

	.modal.fade#createpetModal(tabindex="-1" role="dialog" aria-labeledby="createpetModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
						h4.modal-title#createpetModalLabel Add New Pet
					.modal-body
						form#createPet(method="post" action="/pet/create")
							h3 Please provide the following information about your pet
							input.form-control(type="text" name="name" placeholder="Pet's Name" required="" autofocus="")
							input.form-control(type="number" name="age" placeholder="Age")
							select.form-control(name="species" required="")
								option(value="dog") Dog
								option(value="cat") Cat
								option(value="bird") Bird
								option(value="fish") Fish
								option(value="other") Other
							input.form-control(type="text" name="breed" placeholder="Breed" required="")
							input.form-control(type="text" name="rfid" placeholder="RFID Chip #")
							input.form-control(type="text" name="rabies" placeholder="Rabies Tag #")
							button#addPet.btn.btn-lg.btn-primary.btn-block(type="submit") Add Pet
					.modal-footer